		<header id="udHeader">
			<div id="udHeaderContainer">

				<div id="udHeaderMenu" class="udHeaderMenu hide">
			        <ul>
				        <li id="udHeaderSearchTrigger">
				        	<a href="#" onclick="toggleUDheaderSearchVisibility()" title="title">
					        	<img src="img/icon-header-search.png" alt="Search" target="_self">
					        </a>
				        </li>
				        <li id="udHeaderSearch" class="udHeaderSearch hide">
					        <div id="searchField" class="searchField hide">
						        <script type="text/javascript" src="js/ud-cse.js"></script>
						        <gcse:searchbox-only resultsUrl="//www.udel.edu/udel-search/" newWindow="true" queryParameterName="q"></gcse:searchbox-only>
							</div>
				        </li>
			        </ul>
				</div>
		        
		        <div id="udHeaderWrapper">
					<a href="http://www.udel.edu" id="udHeaderLogo"><img src="img/logo-udel.png" alt="University of Delaware" class="img-responsive"/></a>
				
			        <ul class="udHeader-icon-list">
			            <li class="udHeaderMenuTrigger" id="udHeaderMenuTrigger" onclick="toggleUDheaderMenuVisibility()">
			                <a href="#" title="title">
				                <img src="img/icon-header-search.png" alt="Search" target="_self">
			                </a>
			            </li>
			        </ul>
		        </div>
			
			</div>
		</header>

		<div id="udHeader-collegeOuterWrapper">
			<div id="udHeader-collegeBar">
				<div id="udHeader-collegeWrapper">
					<div id="udHeader-collegeName"><a href="#">Site Title</a></div>
				</div>
			</div>
		</div>