		<header id="udHeader">
			<div id="udHeaderContainer">
		        
		        <div id="udHeaderWrapper">
					<a href="http://www.udel.edu" id="udHeaderLogo"><img src="img/logo-udel.png" alt="University of Delaware" class="img-responsive"/></a>
		        </div>
			
			</div>
		</header>

		<div id="udHeader-collegeOuterWrapper">
			<div id="udHeader-collegeBar">
				<div id="udHeader-collegeWrapper">
					<div id="udHeader-collegeName"><a href="#">Site Title</a></div>
				</div>
			</div>
		</div>