<footer id="udFooter">
	<div class="udFooter-container">
		<div class="udFooterHeader">      
			<a href="http://www.udel.edu"><img src="img/ud-monogram.png" alt="UD" id="udFooterLogo"></a>
            	<ul class="udFooterSocial-icons">
					<li><a href="https://twitter.com/UDelaware" title="Twitter" target="_blank"><img title="Twitter" src="img/twitter.png" alt="Twitter"></a></li>
                    <li><a href="https://www.facebook.com/udelaware" title="Facebook" target="_blank"><img title="Facebook" src="img/facebook.png" alt="Facebook"></a></li>
					<li><a href="https://www.instagram.com/udelaware" title="Instagram" target="_blank"><img title="Instagram" src="img/instagram.png" alt="Instagram"></a></li>
					<li><a href="https://www.youtube.com/univdelaware" title="Youtube" target="_blank"><img title="Youtube" src="img/youtube.png" alt="YouTube"></a></li>
					<li><a href="https://www.pinterest.com/udelaware/" title="Pinterest" target="_blank"><img title="Pinterest" src="img/pininterest.png" alt="Pinterest"></a></li>
					<li><a href="https://www.linkedin.com/edu/school?id=18070" title="Linkedin" target="_blank"><img title="Linkedin" src="img/linkedin.png" alt="Linkedin"></a></li>
                </ul>
		</div>
	</div>
	
	<div class="udFooterLinks">
		<div class="container-fluid">
			<div class="link-item">&copy;2018 University of Delaware</div>
			<div class="link-item"><a href="http://www.udel.edu/home/comments/">Comments</a></div>
			<div class="link-item"><a href="http://www.udel.edu/home/legal-notices/">Legal Notices</a></div>
			<div class="link-item"><a href="http://www.udel.edu/home/legal-notices/accessibility/">Accessibility Notice</a></div>
	    </div>
	</div>
</footer>